.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  width: 100%;
  height: 140px;
  position: relative;
}

.profile img {
  width: 88px;
  height: 88px;
  border-radius: 5rem;
}

.profile .img, .profile .img768 {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0px;
  top: -20px;
  background: #fff;
  border: 1px dashed #D0D5DD;
  border-radius: 20px;
}

.profile .img768 {
  display: none;
}

.profile h1:nth-child(4) {
  display: none;
}

@media screen and (min-width:768px) {
  .profile .img768 {
    display: block;
    right: 15%;
  }

  .profile .img {
    display: none;
  }
}