.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  width: 100%;
  height: 140px;
}

.profile img {
  width: 88px;
  height: 88px;
  border-radius: 5rem;
}

.profile h1:nth-child(3) {
  display: none;
}